@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary text-white;
  }
}

@layer components {
  .input {
    @apply bg-[#F9FAFB] w-full outline-none border-b-2 border-secondary py-1;
  }

  .footer-item-container {
    @apply flex flex-col mt-4 space-y-4;
  }

  .footer-item {
    @apply hover:text-opacity-70 transition-colors text-secondary;
  }

  .project-info {
    @apply opacity-0 group-hover:opacity-100 transition-all duration-300;
  }

  .profile {
    @apply gradient rounded-full grid place-items-center h-[160px] w-[160px];
  }
}

@keyframes gradient-anim {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.gradient {
  background-color: #20bf55;
  background-size: 200% 200%;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  animation: gradient-anim 3s ease infinite;
}
